.btn-pick {
  position: absolute;
  right: 10px; }

.item-container {
  margin: 0;
  padding: 0; }
  .item-container :hover {
    background-color: #b200ad;
    color: white;
    cursor: pointer; }
  .item-container .item {
    padding: 5px 0 0 0 !important;
    margin: 0 !important; }
    .item-container .item .row {
      margin: 0;
      padding: 5px 0 5px 0; }
