body {
    background-color: rgb(197, 166, 166);
    margin: 10px;
}

.left-side {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;

    z-index: 100;
    position: relative;

    .btn-create {
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0;
    }
}


.app-title {
    width: 100%;
    font-size: 170%;
    font-weight: 500;
    margin-top: 10px;
    text-align: center
}

.contact-list {
    height: 400px;
    overflow: auto;
}