.banner {
    width: 100%;
    height: 200px;
    object-fit: cover;

    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border: 0px solid #000000;
}

.container-full {
    background-color: white;

    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0px solid #000000;

    -webkit-box-shadow: 0px 16px 100px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 16px 100px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 16px 100px 2px rgba(0,0,0,0.75);

    margin: 0;
    min-height: 300px;

    .guide-text {
        text-align: center;
        font-size: 400;
    }
}

.contact-avatar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -80px;

    img {
        display: block;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        object-fit: cover;

        -webkit-box-shadow: 0px 16px 130px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 16px 130px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 16px 130px 2px rgba(0,0,0,0.75);
    }
}

.save-clear-btn-group, 
.edit-delete-button  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    right: 10px;
    bottom: 20px;

    Button {
        margin-left: 10px;
    }
}

.contact-info-entry {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    span {
        margin-left: 10px;
        font-size: 125%;
        font-weight: 400
    }
}


a {
    text-decoration: underline;
}

p {
    color: 'red';
}