// .btn-pick {
//     background-color: chocolate;
//     height: 50px;
//     width: 50px;
// }

.btn-pick {
    position: absolute;
    right: 10px;
}

.item-container {
    margin: 0;
    padding: 0;
    :hover {
        background-color: rgb(178, 0, 173);
        color: white;
        cursor: pointer;
    }
    .item {
        padding: 5px 0 0 0 !important;
        margin: 0 !important;
        // background-color: clear;
        .row {
            margin: 0;
            padding: 5px 0 5px 0;
        }
    }
}